.box {
    height: 150px;
    margin: 64px;
    border: 4px solid palevioletred;
}

.circle {
    border: inherit;
    border-radius: 50%;
    background: white;
}

.big.circle {
    height: 70px;
    width: 70px;

    margin-top: -35px;
    margin-left: -35px;
}

.medium.circle {
    height: 50px;
    width: 50px;

    margin-top: 5px;
    margin-left: -25px;
}

.small.circle {
    height: 30px;
    width: 30px;

    margin-top: -105px;
    margin-left: 45px;
}